@import 'theme';

@mixin anchor-style {
  color: $text-black;

  &:hover {
    color: $alternate-color;
  }
}

@mixin font-size-reset {
  font-size: 15px;

  @include breakpoint-large-up {
    font-size: 17px;
  }
}
